@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
}
/* Header Page */
.headerPage {
  position: absolute;
  text-align: center;
  display: flex;
  font-size: 30px;
  margin: 0 950px 0 0;
  font-family: "Poppins", sans-serif;  
}
/* Bt Back */
.btBack {
  display: block;
  position: absolute;
  background-color: #000;
  color: #fff;
  justify-content: center;
  border-radius: 5px;
  margin: -350px 0px 0px 750px;
  font-size: 18px;
  height: 35px;
  width: 180px;
  overflow: hidden;
  cursor: pointer;
  z-index: 1000;
}
.btBack {
   -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}
.btBack:hover {
   -webkit-transform: scale(1);
   transform: scale(1.3);
}
/* Bt Downloads */
.btAndroid {
  display: block;
  position: absolute;
  margin: 53px 0 0 -480px;
  height: 50px;
  width: 180px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1000;  
}
.btAndroid img{
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}
.btAndroid:hover {
  -webkit-transform: scale(1);
  transform: scale(1.3);
}
.btIos {  
  display: block;
  position: absolute;
  margin: 55px 0 0 -260px;
  height: 50px;
  width: 180px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1000; 
}
.btIos img{
   -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}
.btIos:hover {
   -webkit-transform: scale(1);
   transform: scale(1.3);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}
/* Container */
::selection {
  color: #fff;
  background: #696969;
}
.container {
  width: 330px;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 50px 35px 10px 35px;
  box-shadow: 0 0 1em #000;
  z-index: 999;
}
.container header {
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 30px 0;
}
/* Background Full */
.containerTop {
  width: 100%;
  height: 0;
  position: absolute;
  display: block;
  z-index: 900;
  top: 0;
  border-top: 0px solid transparent;
  border-right: 3600px solid #ffcc00;
  border-bottom: 500px solid transparent;
}
.containerFooter {
  width: 100%;
  height: 0;
  position: absolute;
  display: block;
  z-index: 900;
  margin: 500px 0 0 0;
  border-top: 250px solid transparent;
  border-left: 3900px solid #000;
  border-bottom: 0px solid transparent;
}
.backgroundUser {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  opacity: 60%;
}
/* Form */
.form-text-termo {
  font-size: 10px;
}
.container .form-outer {
  width: 100%;
  overflow: hidden;
}
.container .form-outer form {
  display: flex;
  width: 400%;
}
.form-outer form .page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}
.form-outer form .page .field {
  width: 330px;
  height: 45px;
  margin: 45px 0;
  display: flex;
  position: relative;
}
form .page .field .label {
  position: absolute;
  top: -30px;
  font-weight: 500;
}
.fa-eye,
.fa-eye2 {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
form .page .field input {
  height: 100%;
  width: 100%;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}
form .page .field select {
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
form .page .field button {
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: #ffcc00;
  margin-top: -20px;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
form .page .field button:hover {
  background: #000;
  color: #ffcc00;
}
form .page .btns button {
  margin-top: -20px !important;
}
form .page .btns button.prev {
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns button.next {
  margin-left: 3px;
}
/* Progress Bar */
.container .progress-bar {
  display: flex;
  margin: 40px 0;
  user-select: none;
}
.container .progress-bar .step {
  text-align: center;
  width: 100%;
  position: relative;
}
.container .progress-bar .step p {
  font-weight: 500;
  font-size: 18px;
  color: #000;
  margin-bottom: 8px;
}
.progress-bar .step .bullet {
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.progress-bar .step .bullet.active {
  border-color: #00cc00;
  background: #00cc00;
}
.progress-bar .step .bullet span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span {
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
  position: absolute;
  content: "";
  bottom: 11px;
  right: -56px;
  height: 3px;
  width: 55px;
  background: #262626;
}
.progress-bar .step .bullet.active:after {
  background: #00cc00;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
  display: none;
}
.progress-bar .step p.active {
  color: #00cc00;
  transition: 0.2s linear;
}
.progress-bar .step .check {
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .check.active {
  display: block;
  color: #fff;
}
/* Footer Page */
.footerBar {
  width: 100%;
  height: 23px;
  display: flex;
  position: absolute;
  background-color: #fff;
  z-index: 998;
  justify-content: space-around;
  bottom: 0;
}
a.text:link {color:#000;}
a.text:visited {color:#000;};

/* Alert Error */
.msgError {
  text-align: center;
  color: #ff0000;
  display: none;
}
/* squares */
body {
  overflow: hidden;
}
.squares li {
  width: 40px;
  height: 40px;
  background-color: rgba(34, 33, 36, 0.219);
  display: block;
  position: absolute;
  bottom: -40px;
  animation: up infinite;
  animation-direction: alternate;
  border: 2px #fff solid;
  border-radius: 25px;
}
@keyframes up {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-600px) rotate(960deg);
  }
}
/* Mobile */
@media (max-width:1024px){
  
}
